.c-btn {
    background-color: $dark-green;
    border-radius: 50px;
    max-width: 330px;
    display: block;
    padding: 13.5px 20px;
    text-align: center;
    color: $white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    margin:  0 auto;
    cursor: pointer;
}