.c-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.c-back {
    cursor: pointer;
}

.c-logo {
    width: 80px;
}

.c-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    // font-family: 'Open Sans', sans-serif;
}